/* CONTAINER CLASS */

.container {
    width: 1170px; 
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/* ROW CLASSES */

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.row:before {
    display: table;
    content:" " ";
}

.row:after {
    clear: both;   
}


/* COLUMN CLASSES */

.col-sm-12 {
    width: 100%;   
}

.col-sm-8 {
    width: 66.66666667%;
}

.col-sm-6 {
    width: 50%;   
}

.col-sm-4 {
    width: 33.33333333%;   
}

.col-sm-3 {
    width: 25%;   
}

.col-sm-2 {
    width: 16.66666667%;   
}

/* GROUP SELECTORS */

.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-6, .col-sm-8, .col-sm-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* RESPONSIVE IMAGE CLASS*/

.img-resposive {
    max-width: 100%
        height: auto;
}